body{
    background-color: #CBCDC8;
    margin: 0;
    padding: 0;
    top: 0;
}

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
    /* height: 150px; */
    /* background-color: white; */

    & .logotext{
        font-family: 'Komodo';
        font-size: 100px;
        text-align: center;
        margin-top: 5px;
        margin-left: 10px;
        font-weight: 550;
        color: #282A1D;
    }

    & .nav{
        font-family: 'Baiti';
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 20px;
        margin-top: -60px;

        & h5 {
            margin-left: 10px;
            margin-top: 0px;
            padding-left: 10px;
            padding-right: 10px;

            & a {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
            }
            }
        }
    }

    .header:hover {
        background-color: #ffffff;
        top: -10;
        
    
        & .logoText {
            color: black;
        }
    
        & .nav{
    
            & h5 {
    
                & a {
            color: black;
                }
            }
        }
    }

    & .iconContainer{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    top: 20px;
    right: 20px;
    height: 40px;

        & .searchContainer {
            width: 50px;
            height: 50px;
            overflow: hidden;
            position: fixed;
            right: 65px;
            transition: 0.3s ease-in-out;
            top: 17px;
            
            & img {
                position: absolute;
                right: 0px;
                z-index: 99;
                transition: 0.3s ease-in-out;
                width: 50px;
                height: 50px;
            }
            
            & .searchBar{
            width: 200px;
            margin-top:3px;
            margin-left:50px;
            color: #171717;
            border: 2px #eee solid;
            height: 25px;
            padding-left:10px;
            position: absolute;
            transition: 0.3s;
            z-index: 0;
            margin-top: 10px;
            } 
            
            &:hover {
                width: 300px;
                height: 320px;

                & img {
                right: 250px;
                }
            }
        }

        & .icons{
            height: 40px;
            width: 40px;
        }
    }
}

.section1{
    margin-top: 100dvh;
    width: 100%;
    height: 550px;
    background-color: #7C8371;

    & h2{
        font-family: 'Baiti';
        font-size: 25px;
        margin-left: 20px;
        font-size: 30px;
        padding-top: 30px;
        text-align: center;

    }

    & .class {
        width: 10px;
        background-color: black;
    }

    & .subsection {
        display: flex;
        flex-wrap: wrap;
        padding: -10px;
        margin-left: 40px;

        & h1 {
            margin: 0;
            padding: 0;
            font-size: 20px;
        }

        & h2 {
            margin: 0;
            padding: 0;
            font-size: 20px;
        }
    }
    
    .container {
    overflow: hidden;
    background: #3E4233;
    color: #CBCDC8;
    text-align: center;
    width: 230px;
    height: 390px;
    border-radius: 1.2rem;
    margin: 10px;
    transition: all 0.3s;
    
    }

    
}

.photo {
    margin-top: 10px;
    border-radius: 20px;
    height: 250px;
    max-width: 190px;
    overflow: hidden;
}

.CartBtn{
    width: 140px;
    height: 30px;
    border-radius: 12px;
    border: none;
    background-color: #7C8371;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 1.04em;
    font-family: 'Baiti';
    
}

.IconContainer {
    position: absolute;
    left: -50px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}

.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}

.CartBtn:hover{
    transform: translate(10px,0px);
    transition-duration: .5s;
}

footer{
    /* position: fixed; */
    left: 0;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    height: 150px;
    

    

    /* & .line1{
        background-color: #282A1D;
        width: 550px;
        height: 5px;
        margin-top: 0px;
        margin-left: 0px;
    } */

    & .line2{
        background-color: #282A1D;
        width: 100%;
        height: 5px;
        margin-top: -7px;
        
        
    }

    & .contactContainer{
        font-size: 30px;
        color: #333;
        position: relative;
        cursor: pointer;
        display: inline-block;
        bottom: 0;
        margin-top: 70px;
        margin-left: 45%;
      }

      .contactContainer a {
        text-decoration: none; /* Remove the default underline */
        color: #333; /* Set the text color */
    }
      
      .hover-me {
        position: relative;
        z-index: 1;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: #333;
        
      }
      
      .tooltip {
        width: 200px;
        height: 12px;
        background: #282A1D;
        padding: 0.50em;
        text-align: center;
        position: absolute;
        top: -10px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform-origin: center bottom;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        transition: opacity 0.3s ease-in-out;
      }
      
      .tooltip::before {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 80%;
        transform: translateX(-50%);
        border-width: 8px 7px 0;
        border-style: solid;
        border-color: #ffffff transparent transparent transparent;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
      }
      
      .tooltip p {
        margin: 0;
        color: #ffffff;
        font-weight: 600;
        font-size: 20px;
      }
      
      .contactContainer:hover .tooltip {
        top: -50px;
        opacity: 1;
        visibility: visible;
        animation: goPopup 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
      }
      
      .contactContainer:hover .tooltip p {
        animation: bounce 2s ease-in-out infinite;
      }
      
      @keyframes goPopup {
        0% {
          transform: translateY(0) scaleY(0);
          opacity: 0;
        }
        50% {
          transform: translateY(-50%) scaleY(1.2);
          opacity: 1;
        }
        100% {
          transform: translateY(-100%) scaleY(1);
          border-radius: 8px;
          opacity: 1;
          height: 40px;
        }
      }
      
      @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-3px);
        }
        60% {
          transform: translateY(-2px);
        }
      }
      

    
}

.closeBtn {
    background-color: transparent;
    border: none;
    height: 70px;
    width: 70px;
    margin: 10px;
    cursor: pointer;
    position: relative;

    img {
        width: 90%;
        transition: 0.5s;
    }

    &:hover img {
        background-color: #ffffff;
        border-radius: 35%;
    }
}


.sale{
    height: 500px;
    width: 75%;
    margin-top: 200px;
    margin-left: 12%;
}

.cartContainer{
    width: 25%;
    height: 100dvh;
    overflow-y: auto;
    background-color: #282A1D;
    position: fixed;
    top: 0;
    right: -26%;
    transition: 0.5s;
    z-index: 9999;

    & .buyBtn {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 30px;
        margin-left: 50%;
        font-weight: bold;
        color: white;
        background-color: #171717;
        padding: 1em 2em;
        border: none;
        height: 50px;
        border-radius: .6rem;
        cursor: pointer;
        overflow: hidden;
        transform: translateY(-50%);
    }
    
    .buyBtn span:not(:nth-child(6)) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-25%, -25%);
        height: 30px;
        width: 30px;
        background-color: #7C8371;
        border-radius: 50%;
        transition: .6s ease;
    }
    
    .buyBtn span:nth-child(6) {
        position: relative;
    }
    
    .buyBtn span:nth-child(1) {
        transform: translate(-3.3em, -4em);
    }
    
    .buyBtn span:nth-child(2) {
        transform: translate(-6em, 1.3em);
    }
    
    .buyBtn span:nth-child(3) {
        transform: translate(-.2em, 1.8em);
    }
    
    .buyBtn span:nth-child(4) {
        transform: translate(3.5em, 1.4em);
    }
    
    .buyBtn span:nth-child(5) {
        transform: translate(3.5em, -3.8em);
    }
    
    .buyBtn:hover span:not(:nth-child(6)) {
        transform: translate(-50%, -50%) scale(4);
        transition: 1.5s ease;
    }
    
    .subtotalContainer {
        top: 50%;
        left: 0;
    }
    
    .subtotalValue {
    }
    
    .subText {
        color: #ffff; /* Set the text color to white or a color that contrasts with the background */
        margin: 0;
        width: 100%;
        margin-left: 10px;
        text-align: left;
        font-size: 1rem;
    }
}


.cart {
    background-color: #CBCDC8;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;

    & .text {
        width: 50%;
        display: block;

        & p {
            font-size: 20px;
            font-family: 'Baiti';
            margin: 0;
            margin-top: 10px;
        }
    
        & h1 {
            font-size: 15px;
            margin: 3px;
            margin-bottom: 10px;
    
        }
    }

    & .cartPhoto {
        width: 25%;
        padding: 10px;
    }

    & .cancelBtn {
        background-color: transparent;
        margin: auto auto;
        height: 50px;
        width: 50px;
        border: 1px solid #000000;
        border-radius: 50%;
        transition: 0.1s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            scale: 1.1;
        }
    }

    & .cancel {
        height: 20px;
    }

    & .radio-input input {
        display: none;
    }

    .radio-input {
        --container_width: 100px;
        height: 20px;
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: #fff;
        color: #000000;
        width: var(--container_width);
        overflow: hidden;
        border: 1px solid rgba(53, 52, 52, 0.226);
        margin: 0px;
    }

    .radio-input label {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        font-weight: 600;
        letter-spacing: -1px;
        font-size: 12px;
    }

    .selection {
        display: none;
        position: absolute;
        height: 100%;
        width: calc(var(--container_width) / 3);
        z-index: 0;
        left: 0;
        top: 0;
        transition: .15s ease;
    }

    .radio-input label:has(input:checked) {
        color: #fff;
    }

    .radio-input label:has(input:checked) ~ .selection {
        background-color: #171717;
        display: inline-block;
    }

    .radio-input label:nth-child(1):has(input:checked) ~ .selection {
        transform: translateX(calc(var(--container_width) * 0/3));
    }

    .radio-input label:nth-child(2):has(input:checked) ~ .selection {
        transform: translateX(calc(var(--container_width) * 1/3));
    }

    .radio-input label:nth-child(3):has(input:checked) ~ .selection {
        transform: translateX(calc(var(--container_width) * 2/3));
    }
}

.quantityCounter {
    margin-top: 10px;
    width: 40px;
  }